.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  // :last-child 빼고 다 적용
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class^="about__grid"] {
    margin: 3.5rem;
  }
}

.section-contact .grid {
  flex-direction: column;
}

.about__grid {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 1rem;

  &--step {
    margin-left: 2rem;
  }
}

.about__step {
  margin-bottom: 2rem;
  padding: 4rem 3rem;
  box-shadow: 8px 11px 30px rgba(0, 0, 0, 0.25);
}

.blog__grid {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog__img__box {
  position: relative;

  &:hover .blog__caption {
    overflow: hidden;
    opacity: 1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &:hover {
    opacity: 0.7;
  }
}

.contact__box {
  background-color: #203226;
  padding: 5.5rem 4rem;
  width: 100%;
  margin-top: 4rem;

  &__input-group {
    margin-bottom: 3rem;
    width: 100%;

    textarea {
      font-size: 0.16rem;
      padding-top: 1.3rem;
      padding-left: 1rem;
      color: $color-grey-dark;
      width: 100%;
      height: 12rem;
      border-radius: 0.2rem;
      font-family: inherit;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

    input {
      font-size: 0.16rem;
      padding-left: 1rem;
      color: $color-grey-dark;
      height: 4.5rem;
      width: 100%;
      border-radius: 0.2rem;
    }
  }
}

.about__grid {
  margin-top: 0;
  background-image: url("../img/carePlant.jpeg");
  background-size: cover;
  height: 45rem;

  &--step {
    opacity: 0.85;

    &:nth-child(2) {
      padding-right: 2rem;
    }
  }
}

.about__step {
  background-color: $color-white;
}

.about__photo {
  display: none;
}

.heading-primary {
  &--main {
    font-size: 6rem;
    margin-bottom: 0;
  }

  &--sub {
    font-size: 1.3rem;
    margin-bottom: -3rem;
  }
}

.heading-secondary {
  line-height: 4rem;
  margin-bottom: 1rem;

  &--sub {
    margin-bottom: 1rem;
  }
}

.heading--contact {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding: 0rem 1rem !important;
}

.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.8rem;
    width: 20rem;
    height: 5rem;
  }
}

.btn--dark-form {
  font-size: 1.5rem;
  height: 5rem;
  width: 15rem;
}

.blog__photo {
  width: 30rem !important;
  height: 43rem;
}

.footer {
  color: $color-white;
  padding: 5rem 2.5rem !important;
  &__title {
    position: relative;
    height: 0;
    width: 10rem;
    ::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $color-white;
    }
  }
  &__ul {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    font-size: 3rem;

    &-li {
      text-align: end;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1050px) {
  .header {
    &__text-box {
      left: 5%;
    }

    &__logo-box {
      left: 5%;
    }

    &__backet,
    &__navbar {
      display: none;
    }

    &__toggle {
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .about__step {
    padding: 2.5rem 1rem;
  }
}

@media (max-width: 767px) {
  .section-about,
  .section-blog {
    padding: 10rem !important;
  }
  .about__step {
    padding: 2rem 0.5rem;

    p {
      font-size: 0.1rem;
    }
    h3 {
      font-size: 0.4rem;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 4.5rem !important;
  }
  &__ul {
    font-size: 2.5rem;
  }
}
.blog__photo:nth-child(3) {
  margin-right: 3rem !important;
}

@media (max-width: 1000px) {
  .section-about,
  .section-blog {
    padding: 7rem 3rem !important;
  }
  .section-contact {
    span {
      padding: 0.1rem 4rem;
    }
    padding: 0 !important;
  }
}
